.review {
  box-shadow: 0 5px 10px rgb(63, 82, 63);
  background: rgb(138, 144, 146);
  width: 50vw;
  gap: 5rem;
}

.avatar {
  border-radius: 10px;
  width: 20% !important;
  background: rgb(59, 128, 149);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid white;
}

.name-log {
  font-size: 70px;
  font-weight: bold;
}

.review-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.review-table {
  margin: 20px;
  padding: 20px;

  box-shadow: 5px 5px 10px rgba(165, 42, 42, 0.373);
  min-height: 20vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .review {
    width: 100%;
    gap: 2rem;
  }
  .avatar {
    width: 40%;
  }

  .review-content h3 {
    font-size: 16px;
  }

  .review-content p {
    font-size: 12px;
  }
}
